# Dependencies
node_modules/
dist/
build/

# Environment Variables
.env
.env.local

# Database
database.sqlite
*.sqlite

# OS and IDE files
.DS_Store
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
